pkgbase = mcreator
	pkgdesc = Make Minecraft Java Edition mods, Bedrock Edition Add-Ons, and data packs using visual graphical programming or integrated IDE
	pkgver = 2024.1.18518
	pkgrel = 1
	url = https://mcreator.net
	arch = x86_64
	license = GPL-3.0-or-later WITH GPL-3.0-interface-exception
	noextract = mcreator-2024.1.18518.tar.gz
	source = mcreator-2024.1.18518.tar.gz::https://github.com/mcreator/mcreator/releases/download/2024.1.18518/MCreator.2024.1.Linux.64bit.tar.gz
	source = mcreator.desktop
	b2sums = 350a6a8b43d2f7bee6c3901cccf78d2e5cd7378f5c220ed3f921bd07c569ffd9fc6e524bab86dcb3e9bcd222bc2a402204439754fb4261475b2ca35019d507bf
	b2sums = ac5a53421869276596ebbc7cccfa7d20aeb63ea3a556d0b77a0b9b936176bcbabe7771be60fc5b034ec79a49da5f4aa538b79e1c6edca478a5614f49ec478d6f

pkgname = mcreator
	depends = bash
	depends = glibc
	depends = hicolor-icon-theme
	depends = java-runtime=17
